* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

.header {
    /*el rem  proviene del tamño de letra del documento en general, es 16px
    -el em proviene del tamaño de letra del padre directo de un elemento, */
    height: 3.75rem;
    background-color: #555;
}

.main {
    display: flex;
    min-height: calc(100vh - 3.75rem);
    background-color: #ccc;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: flex-start;
}

.section-left {
    width: 50%;
    height: 200px;
    background: #9bcaba;
}

.section-right {
    width: 50%;
    height: 200px;
    background: #bdfa8e;
}

.section-3 {
    width: 100%;
    height: 500px;
    background-color: #ffcb9b;
}


/*ancho tablet*/

@media(max-width: 1024px) {
    .main {
        flex-direction: column;
    }
    .section-left,
    .section-right {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .section-right {
        display: none;
    }
}