/*ser especificos en css-- ejemplo .tarjeta .cuerpo-tarjeta*/

header {
    background: gray;
}

section {
    background: yellow;
}

h1,
h2,
h3 {
    color: red;
}


/*Seleccionamos hijos sin importar el nivel*/

.anuncios .textoAnuncio {
    background: chocolate;
}

.tarjeta {
    background: royalblue;
    color: white;
}


/*Seleccionamos hijos especificos y en orden*/

.tarjeta>.cuerpo-tarjeta {
    background: salmon;
}

.tarjeta>.cuerpo-tarjeta>h4,
p {
    /*para todos los casos que tengam esa estructura */
    color: black;
}

.tarjeta>.pie-pagina-tarjeta {
    background: green;
}