* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.card {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: #aaa 0px 0px 10px;
    /*iteration-count, cantidad de veces que se ejecuta la animacion*/
    /*el normal es como quiero que vaya la animacon del 0 al 100 */
    /*fill-mode, como la animaciona afcet a los estilos que ya tiene el elemento */
    /*animation: mover 1s ease-in-out 1s infinite normal none;*/
}

.card:hover {
    animation: mover 1s ease-in-out 0s infinite normal none;
}


/*una animacion, es el cambio de varios estados*/

@keyframes mover
/*es el nombre de la animacion*/

{
    /*es recomenendable que el punto inicial sea igual al elemento sin animaciones*/
    0% {
        background-color: #fff;
    }
    /*25% {
        transform: rotate(45deg);
    }*/
    50% {
        background-color: indianred;
        transform: scale(1.05, 1.05);
    }
    /*el estado final tambien debe ser igual al elemento sin animaciones*/
    100% {
        background-color: #fff;
    }
}

.boton {
    padding: 5px 10px;
    border: none;
    background-color: #410467;
    color: white;
    margin-left: 20px;
    border-radius: 3px;
    width: 100px;
    transition: box-shadow 2s ease;
}

.boton:hover {
    /*border-left: 100px solid #883db6;*/
    box-shadow: #883db6 100px 0px inset;
}